<div class="main-container">
  <p>
    filter-page works!
  </p>
  <app-selected-filters *ngIf="!!filters" [filters]="filters"></app-selected-filters>
  <div class="left-panel">
    <app-checkbox-filter
      [category]="'statuses'"
      [filters]="checkboxFilters"
      [selectedFilters]="filters?.statuses"
      (onCheckboxFilterChange)="handleCheckboxFilterChange($event)">
    </app-checkbox-filter>

    <div>
      <app-autocomplete
        (onSuggestedItemClick)="addFilter('clients', $event)"
        [selectedOptions]="selectedClients"
        (onChipDelete)="removeFilter('clients', $event)"
        [optionsList]="suggestedClients">
      </app-autocomplete>
    </div>
  </div>
</div>
