.main-container {
}

.top-panel {
  margin-bottom: 20px;
}

.left-panel {
  min-width: 200px;
  width: 20%;
  min-height: 100%;
  height: 100%;
  padding: 20px;
  border: 2px solid gainsboro;
  border-radius: 10px;
}
