.panel-container {
  display: flex;
}

.top-panel {
  margin-bottom: 20px;
}

.right-panel {
  flex: 70%;
  margin-left: 20px;
}

.left-panel {
  flex: 30%;
  min-width: 200px;
  min-height: 100%;
  padding: 20px;
  border: 2px solid gainsboro;
  border-radius: 10px;
}
