.clear-button {
  display: inline-block;
  border: 1px solid black;
  border-radius: 5px;
  padding: 2px;
}

.button {
  cursor: pointer;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
