<div class="card-wrapper">
  <div class="status-wrapper" [ngStyle]="statusBarColor">
    <div>
      <i class="mdi mdi-phone"></i>
      {{info.status}}
    </div>
    <div>{{info.date | date : 'yMd'}}</div>
  </div>
  <div class="content-wrapper">
    <div class="bold-text info-line">
      {{info.projectName}}
      <i class="mdi mdi-information"></i>
    </div>
    <div class="role-label info-line">
      {{info.expert.role | uppercase}}({{info.expert.region.name | uppercase}})
    </div>
    <div class=" info-line">
      <i class="mdi mdi-circle" [ngStyle]="statusIconColor"></i>
      <span class="bold-text">{{info.expert.name}}</span>
    </div>

    <div class="role-label info-line">
      {{info.client.role | uppercase}}({{info.client.region.name | uppercase}})
    </div>
    <div class="bold-text info-line">
      {{info.client.name}}
    </div>
    <div class="company-name info-line">
      {{info.client.companyName}}
    </div>
  </div>
</div>
