.container-wrapper {
  padding: 10px;
  border: 2px solid gainsboro;
  border-radius: 10px;
  min-width: 200px;
  display: flex;
  flex-wrap: wrap;
}

.category-name {
  font-weight: bold;
}

.item {
  margin-left: 20px;
}
