.autocomplete-wrapper {
  border-color: gainsboro;
  border-width: 1px;
  border-style: solid;
  position: relative;
}

.chips-container {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
}

.autocomplete-container-wrapper {
  position: relative;
  width: 100%;
}

.autocomplete-input {
  flex: auto;
  outline: none;
  margin: 0;
  padding: 5px;
  border: 0;
}

.autocomplete-container {
  position: absolute;
  background-color: white;
  fill: white;
  border-color: gainsboro;
  border-bottom: 1px solid gainsboro;
  border-left: 1px solid gainsboro;
  border-right: 1px solid gainsboro;
  left: -1px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  min-height: 0;
  max-height: 100px;
  overflow: hidden;
  width: 100%;
  z-index: 999;
}

.autocomplete-list {
  list-style-type: none;
  width: 100%;
  min-height: 0;
  max-height: 100px;
  overflow-y: scroll;
}

.autocomplete-list::-webkit-scrollbar {
  display: none;
}

.autocomplete-item {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.autocomplete-item:hover {
  cursor: pointer;
  background-color: gainsboro;
}
